// ESTILOS DE LAS FICHAS INTERNAS
@import "../../variables.scss";

section.landing {
    display: flex;
    justify-content: left;
    gap: 4rem;
    width: clamp(400px, 80%, 1500px);
    margin: 5rem auto;

    img.landing {
        width: 300px;
        border-radius: $radius;
        object-fit: cover;
    }

    aside {
        display: flex;
        flex-direction: column;
        min-width: 400px;
        max-width: 35vw;

        h2 {
            font-size: calc($titleSize * 2);
            color: $red;
        }

        div {
            font-size: 1.3rem;
            color: $yellow;

            &.score {
                justify-self: flex-end;
                align-self: flex-start;
                padding: 1rem 1.2rem;
                margin-top: auto;
                font-size: 1.6rem;
            }

            img, span {
                vertical-align: middle;
            }

            img {
                margin-right: 0.7rem;
            }
        }
    }

    p {
        font-family: RobotoRegular;
        font-size: 1.3rem;
        color: $yellow;

        &.overview {
            font-size: 1.1rem;
        }
        &:nth-of-type(3) {
            margin: 4rem 0;
        }
    }

    @media (max-width: 900px) {
        & {
            flex-direction: column;
            align-items: center;
        }
    }
}